version: '3.8'
services:
    db:
        image: postgres:17-alpine
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_HOST_AUTH_METHOD=trust
        volumes:
            - db-data:/var/lib/postgresql/data
        healthcheck:
      # Sprawdza, czy postgres jest gotowy do pracy
            test: ["CMD-SHELL", "pg_isready -U postgres -d my_app_dev"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "5432:5432"

    web:
        build:
            context: ./phoenix-api
            dockerfile: Dockerfile
        ports:
            - "4000:4000"
        environment:
            - MIX_ENV=prod
            - DATABASE_URL=${DATABASE_URL}
            - SECRET_KEY_BASE=${SECRET_KEY_BASE}
            - PHX_HOST=${PHX_HOST}
            - PORT=4000
            - RELEASE_COOKIE=super_secret_super_secret_super_secret_super_secret_super_secret_
        depends_on:
            - db
        stdin_open: true # odpowiednik -i
        tty: true        # odpowiednik -t
    symfony:
        build: 
            context: ./symfony-app
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        depends_on:
            - web
        volumes:
            - ./symfony-app:/var/www/symfony:rw

    nginx:
        image: nginx:alpine
        ports:
            - "8080:80"
        volumes:
            - ./symfony-app:/var/www/symfony:ro
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - symfony

volumes:
  db-data: